useDynLib(PhyloMeasures)

import(ape)
import(methods)

importFrom("utils", "head", "tail")

export(pd.query,
       mpd.query,
       mntd.query,
       cac.query,
       cbl.query,
       cd.query,
       cdnt.query,
       cdnt.averaged.query,
       cdnt.directed.query,
       phylosor.query,
       unifrac.query,
       pd.moments,
       mpd.moments,
       mntd.moments,
       cac.moments,
       cbl.moments,
       cd.moments,
       pd.pvalues,
       mpd.pvalues,
       mntd.pvalues,
       cac.pvalues)
